* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
    outline: solid rgb(54, 56, 0) 1px;
}

.logoHead {
    height: 250px;
    width: auto;
}

header {
    background-color: #fffde5;
    font-size: 20px;
    align-items: center;
    font-weight: 200;
    color: rgb(26, 26, 26);
}

.orderB {
    background-color: #c2e8e8;
    
}

footer {
    background-color: #c2e8e8;
    margin: 0%;
}