*{
    outlin: solid black 1px;
}

@font-face {
    font-family: 'Caprasimo-Regular';
    src: url('/assets/fonts/Caprasimo/Caprasimo-Regular.ttf') format('truetype');
}

body {
    font-family:"Caprasimo-Regular", Arial, Helvetica, sans-serif;
    src: url(/assets/fonts/Caprasimo/Caprasimo-Regular.ttf);
    margin: 0%;
   
}

/* Checkedboard Section below */

.checkedboard {
    background-color: #fffde5;
    background-image: url(/assets/img/background/BGCheckedboard.png);
    background-size: 100%;
    background-size: 80%;
}

    /* Header Section below */

.main-header {
  background: #fffde5;
  padding: 1rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 20px;
}

.container-logoHead {
    padding-right: 10%;
    margin-right: 25%;
    margin-left: 25%;
}

.orderButton {
    color: black;
    font-weight: 800;
    font-size: 16px;
    background-color: rgb(43, 204, 99);
    width: fit-content;
    margin-right: 25px;
    border-radius: 50px;
    border: solid 1px rgb(166, 135, 41);
    height: 25px;
    width: 100px;

    
}

    /*Hero Content Section below */

.heroSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
}

.hbg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/items/banner\ DB\ Cheeseburger.png);
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    opacity: 0.8;
    z-index: -1;
}


.htitle, .hdescription{
    color: #c2e8e8;
    background-color: black;
    text-align: center;
    border-radius: 10px;
}

.htitle {
    font-size: 60px;
}

.hdescription {
    font-size: 35px;
}


        /* Footer section below */
footer {
    background-color: #c2e8e8;
    margin: 0%;
    width: 50%;
    text-align: center;
}